@font-face {
    font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
    src: url('../fonts/_Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
    src: url('../fonts/_Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway';
	font-style: italic;
	font-weight: 400;
    src: url('../fonts/_Raleway-Italic.ttf');
}
@font-face {
    font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
    src: url('../fonts/_Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
    src: url('../fonts/_Raleway-ExtraBold.ttf');
}



*,
*:before,
*:after {
  box-sizing: border-box;
}
html, body ,div{ height: 100%; width: 100%; margin: 0; }
body {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  overflow:hidden;
  width:100%;
  height: 100%;
  background-color: #ffffff;
}

.height-max{
	height:100%;
	display:block;
}
.color-blue{
	background-color: #313541;
}

.color-gray{
	background-color: #282C37;
	padding-left: 0px;
    padding-right: 0px;
}

.container-fluid{
	background-color: #fff;
	padding-left: 0px !important;
    padding-right: 0px !important;
}
.row{
	margin-right: 0px;
    margin-left: 0px;
}
.container-fluid.left {
  float: left;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.container-fluid .top{
  position: relative;
  width: 100%;
  height: 54px;
  z-index: 100;
}
.search-padding{
  padding: 11px;
}
.features{
	padding: 0px;
	max-width: 80px;
	float: left;
}
.col{
	float: left;
	width: 25%;
}
.write-container{
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    z-index: 50;
    background-color: #e4eaee;
	border-top: 1px solid #cfdae1;
}
.container-fluid .left input {
  float: left;
  width:100%;
  height: 32px;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  border-radius: 8px;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.container-fluid .left input:focus {
  outline: none;
}
.container-fluid .left a.search {
  display: block;
  position: absolute;
  right: 12px;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  border: 1px solid #e6e6e6;
  background-color: #00b0ff;
  background-image: url("http://s11.postimg.org/dpuahewmn/name_type.png");
  background-repeat: no-repeat;
  background-position: top 7px left 10px;
  border-radius: 0 8px 8px 0;
}
.container-fluid .left .people {
  list-style-type: none;
  padding-left: 0px;
  
  overflow-y: auto;
  height: calc(100% - 100px);
}

::-webkit-scrollbar{ width:9px; height:9px; }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment{ 
  display:block;
  height:0;
  background-color:transparent;
}
::-webkit-scrollbar-track-piece{
  background-color: transparent;
  -webkit-border-radius:0;
  -webkit-border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
}
::-webkit-scrollbar-thumb:vertical{
  height:50px;
  background-color: rgba(153,153,153,.4);
  -webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:horizontal{
  width:50px;
  background-color:#999;
  -webkit-border-radius:8px;
}

::-webkit-scrollbar-thumb:vertical:hover{
	background-color: rgba(153,153,153,.8);
}
::-webkit-scrollbar-thumb:vertical:start{
	background-color: rgba(153,153,153,1);
}

.container-fluid .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 5% 16px;
  cursor: pointer;
  box-shadow: 0px 1px 0px rgba(21,24,30, 0.5);
  height: 72px;
}
.container-fluid .left .people .person img {
  float: left;
  width: 52px;
  height: 52px;
  margin-right: 14px;
  border-radius: 50%;
}
.container-fluid .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.container-fluid .left .people .person.active, .container-fluid .left .people .person:hover {
  padding-top: 12px;
  border: 0;
  background-color: #fff;
  width: 100%;
  padding-left: 5%;
}
.container-fluid .left .people .person.active span, .container-fluid .left .people .person:hover span {
  color: #1a1a1a;
  background: transparent;
}

.container-fluid .left .people .person.active:after, .container-fluid .left .people .person:hover:after {
  display: none;
}
.container-fluid .right {
  position: relative;
  float: left;
  width: calc(100% - 25% - 80px);
  height: 100%;
}
.container-fluid .right .top {
	z-index: 1000;
	background-color: white;
	box-shadow: 0px 3px 0px rgba(21,21,21, 0.1);
}
.container-fluid .right .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 0px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: calc(100% - 122px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-fluid .right .pattern {
	background-image: url('../images/app/pattern.png');/*water - animals*/
    background-repeat: repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .12;
}
.container-fluid .right .chat.active-chat {
  display: block;
  overflow-y: auto;
  z-index: 50;
}
.container-fluid .right .chat.active-chat .bubble {
  -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.container-fluid .right .chat.active-chat .bubble:nth-child(2){
	margin-top: 50px;
}
.container-fluid .right .write {
  position: absolute;
  bottom: 14px;
  left: 30px;
  height: 42px;
  /*padding-left: 8px;*/
  border: 1px solid #cfdae1;
  background-color: #eceff1;
  width: calc(100% - 58px);
  border-radius: 5px;
}
.container-fluid .right .write input {
  font-size: 16px;
  float: left;
  width: calc(100% - 180px);
  height: 40px;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: #eceff1;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.container-fluid .right .write .write-link{
	
}
.container-fluid .right .write .write-link.attach:before {
  display: inline-block;
  float: left;
  width: 40px;
  height: 42px;
  content: '';
  background-image: url("http://s1.postimg.org/s5gfy283f/attachemnt.png");
  background-repeat: no-repeat;
  background-position: center;
}
.container-fluid .right .write .write-link.smiley:before {
  display: inline-block;
  float: right;
  width: 32px;
  height: 42px;
  content: '';
  background-image: url("http://s14.postimg.org/q2ug83h7h/smiley.png");
  background-repeat: no-repeat;
  background-position: center;
}
.container-fluid .right .write .write-link.send:before {
  display: inline-block;
  float: right;
  width: 92px;
  height: 40px;
  margin-left: 11px;
  margin-right: 1px;
  border-radius: 0 5px 5px 0;
  content: '';
  background-image: url("../images/app/send.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  background-color: #ff5500;
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.container-fluid .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
  width: auto;
  max-width: 70%;
}
.container-fluid .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
          transform: rotate(29deg) skew(-35deg);
}
.container-fluid .right .bubble.you {
  float: left;
  color: #fff;
  background-color: #00b0ff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft;
  height:auto;
  box-shadow: 0px 2px 0px rgba(43, 146, 194, 0.85);
}
.container-fluid .right .bubble.you:before {
  left: -3px;
  background-color: #00b0ff;
}
.container-fluid .right .bubble.me {
  float: right;
  color: #1a1a1a;
  background-color: #E6E6E6;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight;
  height:auto;
  box-shadow: 0px 2px 0px rgba(216, 216, 216, 1);
}
.container-fluid .right .bubble.me:before {
  right: -3px;
  background-color: #E6E6E6;
}
.container-fluid .right .conversation-start {
  position: absolute;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
}
.container-fluid .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: #999;
}
.container-fluid .right .conversation-start span:before, .container-fluid .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
}
.container-fluid .right .conversation-start span:before {
  left: 0;
}
.container-fluid .right .conversation-start span:after {
  right: 0;
}

.container-fluid .features .tools li a{
	width: 52px;/*64*/
	height: 52px;/*64*/
	padding: 6px;
	display: block;
	background-size: 52px;/*64*/ 
	text-decoration: none;
	background-repeat: no-repeat;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.container-fluid .features .tools ul {
	padding-left: 0px;
	list-style-type: none;
}
.container-fluid .features .tools li{
	height: 72px;
	box-sizing: border-box;
	padding: 10px 14px;/* 4 8 */
	opacity: .3;
}
.container-fluid .features .tools .voice-btn{
	background-image: url('../images/app/voice.png');
}
.container-fluid .features .tools .message-btn{
	background-image: url('../images/app/message.png');
}
.container-fluid .features .tools .edit-btn{
	background-image: url('../images/app/edit.png');
}
.container-fluid .features .tools .video-btn{
	background-image: url('../images/app/video.png');
}
.container-fluid .features .tools .tool-active{
	background-color: #282C37;
    border-left: 3px solid #00b0ff;
	padding-left: 11px;
	opacity: 1 !important;
}

.container-fluid .left .people .person .login-status{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	z-index: 151;
	margin-top: 5px;
}
.container-fluid .left .people .person .status-online{
	background-color: green !important;
}
.container-fluid .left .people .person .status-offline{
	background-color: red !important;
}
.container-fluid .left .people .person .status-text{
	color: #fff;
}
.container-fluid .left .people .person div{
	height: 25px;
    display: block;
	width: 120px;
	margin-left: 20px;
}
.container-fluid .left .people .person .single-person-notification{
	position: absolute;
	right: 0;
	top:0;
	width: auto;
	height: 100%;
}
.container-fluid .left .people .person .single-person-notification span{
	width: 16px;
	height: 16px;
	background-color: red;
	display: block;
	border-radius: 50%;
	margin: 15px 10px 0 0;
}
.container-fluid .right .voice-container , .container-fluid .right .message-container,
.container-fluid .right .edit-container , .container-fluid .right .video-container
{
	display: none;
}
.container-fluid .right .edit-container{
	display: block !important;
	z-index: -10;
	position: absolute;
}
.container-fluid .right .edit-container.active-right-container{
	z-index: 100;
}
.active-right-container{
	display: block !important;
}
.container-fluid .right .choose-container{
	position: absolute;
	top: 54px;
	left: 0;
	background-color: #fff;
	z-index: 251;
}
.container-fluid .right .hide-default{
	display: none;
}
object{
	width: 100%;
	height: 100%;
}

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
