* {
    margin: 0;
}

#multipopup {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#multipopup:not(:empty) {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    height: auto;
    position: absolute;
    width: 90%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.cd-popup-container .cd-buttons {
    list-style: none;
    padding: 0;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    transition: background-color 0.2s;
    text-decoration: none;
    cursor: pointer;
}

.cd-popup-container .cd-buttons li:first-child a {
    background-color: #fc7169;
    border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background-color: #b6bece;
    border-radius: 0 0 .25em 0;
}

.cd-popup-container .cd-buttons-icons a::after {
    content: '';
    display: block;
    height: 100%;
    background-image: url('../images/app/call-answer.svg');
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: 50%;
    pointer-events: none;
    opacity: .7;
    transition: opacity 1;
}

.cd-popup-container .cd-buttons-icons a:hover::after {
    opacity: 1;
}

.cd-popup-container .cd-buttons-icons #cd-buttons-yes {
    background-color: #A0D468;
}

.cd-popup-container .cd-buttons-icons #cd-buttons-no {
    background-color: #ED5565;
}

.cd-popup-container .cd-buttons-icons a#cd-buttons-no::after {
    transform: rotate(135deg);
    padding: 36px;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    transform: translateY(0);
}

.cd-popup-container h2 {
    color: #8f9cb5;
    padding-top: 1.5em;
}

.cd-popup-container p {
    padding: 1em 1em;
    padding-bottom: 2em;
    color: #8f9cb5;
}

.cd-popup-container p .popupImage {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.cd-popup-container p .popupName {
    font-size: 24px;
    vertical-align: 24px;
    margin-left: 14px;
}

.cd-form button {
    position: absolute;
    font-size: 14px;
    line-height: 33px;
    font-weight: 800;
    color: #fff;
    background-color: #00b0ff;
    box-shadow: 0px 4px #2b92c2;
    border: none;
    outline: none;
    bottom: 10px;
    cursor: pointer;
    bottom: 4px;
    width: 100%;
    left: 0;
    display: block;
}

.cd-form button:active {
    box-shadow: 0px 2px #2b92c2;
    transform: translateY(3px);
}

.cd-form h3 {
    padding: 1em;
    padding-top: 0;
}